In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data =  pd.read_csv('./data/raw_data.csv')

In [5]:
raw_data

,Unnamed: 0,om,yr,mo,dy,date,time,tz,datetime_utc,st,...,len,wid,ns,sn,f1,f2,f3,f4,fc,tempc
0,0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,...,15.80,10,1,1,25,0,0,0,False,10.773611
1,1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,...,2.00,880,1,1,47,0,0,0,False,10.773611
2,2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,...,0.10,10,1,1,177,0,0,0,False,10.773611
3,3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,...,0.10,10,1,1,209,0,0,0,False,10.773611
4,4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,...,2.00,37,1,1,101,0,0,0,False,10.773611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65149,65149,618356,2019,9,9,2019-09-09,15:32:00,America/Chicago,2019-09-09T20:32:00Z,IA,...,1.37,10,1,1,49,0,0,0,False,11.484259
65150,65150,618357,2019,9,9,2019-09-09,15:33:00,America/Chicago,2019-09-09T20:33:00Z,IA,...,2.86,10,1,1,49,0,0,0,False,11.484259
65151,65151,618358,2019,9,9,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,...,0.10,10,1,1,37,0,0,0,False,11.484259
65152,65152,618359,2019,9,9,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,...,1.56,80,1,1,37,0,0,0,False,11.484259
65153,65153,618360,2019,9,9,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,...,0.19,10,1,1,37,0,0,0,False,11.484259

In [7]:
raw_data.drop(columns=['Unnamed: 0'])

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,len,wid,ns,sn,f1,f2,f3,f4,fc,tempc
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,15.80,10,1,1,25,0,0,0,False,10.773611
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,2.00,880,1,1,47,0,0,0,False,10.773611
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.10,10,1,1,177,0,0,0,False,10.773611
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.10,10,1,1,209,0,0,0,False,10.773611
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,2.00,37,1,1,101,0,0,0,False,10.773611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65149,618356,2019,9,9,2019-09-09,15:32:00,America/Chicago,2019-09-09T20:32:00Z,IA,19,...,1.37,10,1,1,49,0,0,0,False,11.484259
65150,618357,2019,9,9,2019-09-09,15:33:00,America/Chicago,2019-09-09T20:33:00Z,IA,19,...,2.86,10,1,1,49,0,0,0,False,11.484259
65151,618358,2019,9,9,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,...,0.10,10,1,1,37,0,0,0,False,11.484259
65152,618359,2019,9,9,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,...,1.56,80,1,1,37,0,0,0,False,11.484259
65153,618360,2019,9,9,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,...,0.19,10,1,1,37,0,0,0,False,11.484259